body {
  font-family: "Amatic SC", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Tajawal", sans-serif;
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
}
#name {
  font-size: 50px;
  color: white;
}
span {
  color: orange;
}
#hello {
  font-size: 17px;
  color: white;
}
#web-developer {
  font-size: 25px;
  color: white;
}
.anchor-tag {
  text-decoration: none;
  background-color: #f9004d;
  font-size: 13px;
  font-weight: 900;
  padding: 13px 27px;
  color: rgb(245, 243, 241);
  border-radius: 30px;
  transition: 0.4s;
}
.anchor-tag:hover {
  color: white;
  background-color: transparent;
  border: 1px solid rgb(250, 244, 244);
}
.first-section {
  display: flex;
  background-color: black;
  width: 100%;
  height: 800px;
}
.half-width-text {
  width: 50%;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: 200;
}
.paragraph-font {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}
#image-one {
  height: 600px;
}
.half-width-image {
  width: 50%;
  margin-right: 95px;
}
.second-section {
  margin-top: 100px;
  height: 620px;
}
#service {
  text-align: center;
  font-size: 50px;
}
.service-display {
  display: flex;
}
#Fornt-end-Development {
  background-color: darkcyan;
  margin-left: 300px;
  margin-right: 10px;
  padding-left: 40px;
  padding-right: 5px;
  padding-top: 40px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 4px;
}
#Back-end-Development {
  background-color: darkcyan;
  padding-left: 40px;
  padding-right: 5px;
  padding-top: 40px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 4px;
}
#SEO {
  background-color: darkcyan;
  margin-left: 10px;
  margin-right: 300px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 4px;
}

